* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.login {
  width: 60%;
  height: 450px;
  margin: 50px auto;
  display: flex;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.login-left {
  width: 60%;
  padding: 25px 0;
  border-radius: 10px 0 0 10px;
  background-color: #fff;
}

.login-form {
  height: 80%;
  margin-top: 30px;
  padding: 0 60px;
}

input[type="email"],
[type="password"] {
  padding: 10px;
  border-radius: 10px;
  border: solid 1px #82916a;
}

.login-form a {
  text-decoration: none;
  text-align: center;
}

input[type="submit"] {
  width: 100%;
  padding: 10px 0px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #cb8655;
  border: 1px solid #e8dfce;
  color: #fff;
  border: none;
  margin: 0 auto 40px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #fff;
  color: #82916a;
  border: 1px solid #cb8655;
}

.login-right {
  width: 40%;
  background-color: #82916a;
  color: #fff;
  border-radius: 0px 10px 10px 0px;
  padding: 25px;
}

.login-right a {
  padding: 10px 25px;
  display: block;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #e8dfce;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

.login-right a:hover {
  background-color: #cb8655;
}
